* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: #8197ef;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.quiz-container {
    width: 80%;
    max-width: 800px;
}



.hide {
    display: none;
}

.card {
    background-color: #fdfbfb;
    border: 1px solid #555;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    font-size: 1.3rem;
    font-weight: 200;
    color: #f4527b;
    gap: 10px;

}

#timer i {
    margin-right: 8px;
    font-size: 1.4rem;
}

#question {
    text-align: left;
}

#question-container {
    padding: 50px;
}


.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

button {
    background-color: #2ac462;
    border: none;
    border-radius: 8px;
    padding: 15px;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    margin: 15px;
    transition: transform 0.1s;
}

button:hover {
    transform: scale(1.02);
}

.correct {
    background-color: #27ae60;
}

.incorrect {
    background-color: #e74c3c;
}


#start-container,
#results-container {
    text-align: center;
}

#start-container h1,
#results-container h2 {
    margin-bottom: 20px;
    font-size: 2.5rem;
}

#start-container p,
#results-container p {
    font-size: 1.5rem;
}

#start-btn {
    background-color: #2ecc71;
    font-size: 1.2rem;
    padding: 10px 30px;
}

@media (max-width: 480px) {

    .card-header {
        display: block;
        text-align: center;
        font-size: 1.2rem;
        margin-bottom: 25px;
    }

    #question {
        text-align: center;
        margin-bottom: 15px;
    }

    #timer {
        justify-content: center;

        display: flex;
    }


    .btn-grid {
        grid-template-columns: 1fr;
        gap: 10px;
        justify-items: center;
    }

    .btn-grid button {
        width: 85%;
        margin: 0;
    }

    button {
        padding: 12px;
        font-size: 1.1rem;
    }

    #start-container,
    #results-container {
        padding: 20px;
    }

    #start-container h1,
    #results-container h2 {
        font-size: 1.8rem;
    }

    #start-container p,
    #results-container p {
        font-size: 1.1rem;
    }
}